<div class="row">
  <div class="col-md-4 offset-md-4 mt-5">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
          </div>
          <div class="mb-3 form-check text-center mt-5">
            <a [routerLink]="['/signup']" class="form-check-label">Create New Account</a>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button">Sign In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
